/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #fafafa;
    color: #212529;
}

header {
    background-color: #d1c4e9;
    color: #311b92;
    padding: 20px 0;
    text-align: center;
    width: 100%;
}

h1 {
    font-size: 2em;
    margin-bottom: 10px;
    animation: fadeIn 2s;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.navbar {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
    padding-bottom: 20px;
    border-bottom: 3px solid #b39ddb;
    width: 80%;
    animation: slideIn 2s;
}

@keyframes slideIn {
    0% {transform: translateX(-100%);}
    100% {transform: translateX(0);}
}

.navbar a {
    color: #4527a0;
    text-decoration: none;
    font-size: 1.2em;
    transition: color 0.3s ease-in-out;
}

.navbar a:hover {
    color: #311b92;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    animation: popIn 2s;
}

@keyframes popIn {
    0% {transform: scale(0);}
    100% {transform: scale(1);}
}

#greeting_name,
.task-manager,
.mood_choices {
    background-color: #ede7f6;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
    border-radius: 0.25rem;
    width: 100%;
    color: #4527a0;
}

#toDoList, #taskContainer {
    background-color: #d1c4e9;
    padding: 20px;
    border-radius: 0.25rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
    color: #311b92;
}

button {
    background-color: #9575cd;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #7e57c2;
}

footer {
    background-color: #d1c4e9;
    color: #311b92;
    text-align: center;
    padding: 20px 0;
    margin-top: 20px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

img {
    width: 100px; /* Sets the size of the image */
    height: 100px; /* Sets the size of the image */
    border-radius: 50%; /* Makes the image circular */
    margin: 10px; /* Adds space around the image */
    animation: spin 4s linear infinite; /* Adds a spinning motion */
    object-fit: cover; /* Ensures the image covers the entire area */
}

/* Keyframes for spin animation */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
