body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    background-color: #008B8B;
    color: white;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

.navbar {
    background-color: #008B8B;
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    transition: color 0.3s ease;
}

.navbar a:hover {
    color: #f8f8f8;
}

#greeting_name {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 40vh;

    text-align: center;
    color: #333;
}

#greeting_name h1:first-child {
    font-size: 2em;
    margin-bottom: 0.5em;
}

#greeting_name h1:last-child {
    font-size: 4em;
    color: #008B8B;
    text-transform: uppercase;
    animation: glow 2s ease-in-out infinite;
}

#calendar_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 20px;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    max-width: 800px;
}

#calendar_section div {
    margin: 20px 0;
    color: #333;
    font-size: 1.2em;
}

#regular-date, #special-date {
    background-color: #008B8B;
    color: white;
    padding: 15px;
    border-radius: 5px;
}

#datepicker {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}

#taskInput, #dateInput {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#index-footer {
    background-color: #008B8B;
    color: white;
    text-align: center;
    padding: 20px
